.header__search {
	margin-left: auto;
	position: relative;

	&:before {
		content: '';
		display: block;
		height: calc(100% + 25px);
		border-left: 1px solid $gray_light;
		position: absolute;
		top: 50%;
		left: 0;
		z-index: 0;
		transform: translateY(-50%);

		@include breakpoint_d(xl_1200){
			height: calc(100% + 10px);
		}
	}

	.aside_menu_opened & {
		pointer-events: none;
	}

	&_button {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 80px;
		height: 60px;
		aspect-ratio: 1;
		padding: 0;
		border: none;
		background-color: transparent;
		transition: opacity $transition;

		@include breakpoint_d(md_768){
			width: 60px;
		}

		&:hover {
			opacity: 0.6;
		}

		svg {
			width: 24px;
			height: 24px;

			path {
				fill: $blue;
			}
		}
	}

	&_inner {
		display: none;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		gap: 30px;
		width: 100vw;
		min-height: 100vh;
		padding: 60px 20px;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 999;
		background-color: $white;

		&.opened {
			display: flex;
		}

		.header__close_button {
			width: 15px;
			aspect-ratio: 1;
			padding: 0;
			position: absolute;
			top: 15px;
			right: 30px;
			z-index: 1;
			border: none;
			background: transparent;
			transition: opacity $transition;

			&:hover {
				opacity: 0.6;
			}

			svg path {
				fill: $black_2;
			}
		}

		// /.header__inner_button

		.header__inner_logo {
			width: 80px;
			aspect-ratio: 1;

			svg path {
				fill: $blue;
			}
		}

		// /.header__inner_logo

		.header__inner_form {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			width: 100%;
			max-width: 580px;
			position: relative;

			input {
				width: 100%;
				padding: 20px 35px 20px 15px;
				border: none;
				background-color: $gray_light_3;
				font-size: 1.5rem;
				line-height: 18px;
				border-radius: 1px;
				transition: none;

				&:focus-visible {
					outline: 2px solid $blue_2;
				}
			}

			.header__inner_submit {
				width: 24px;
				height: 24px;
				padding: 0;
				border: none;
				background-color: transparent;
				position: absolute;
				top: 50%;
				right: 12px;
				z-index: 1;
				transform: translateY(-50%);
				transition: opacity $transition;

				&:hover {
					opacity: 0.6;
				}

				svg path {
					fill: $black_2;
				}
			}
		}

		// /.header__inner_form
	}
}

// /.header__search